body {background-color: #1a1b26}

h1 {
    font-family: inter, sans-serif;
    font-weight: 900;
    color: #9aa5ce;
}

h2 {
    font-family: inter, sans-serif;
    font-weight: 700;
    color: #9aa5ce;
}

p {
    font-family: inter, sans-serif;
    font-weight: 400;
    color: #9aa5ce;
}

.darker {
    background-color: #16161e;
    color: #9aa5ec;
    border: none;
    font-size: 20px;
    padding: 3px;
}

.dark {
    background-color: #1a1b26;
    color: #9aa5ce;
    border: none;
    font-size: 20px;
    padding: 3px;
}